/* Mobile Screen */
@media only screen and (max-width:767px) {
    .container {
        width: 100%;
    }

    .section-title h2 {
        font-size: 26px;
        margin-bottom: 18px;
    }

    .primary-button {
        font-size: 16px;
        padding: 16px 22px;
        margin-top: 20px;
    }

    .quick-list-area,
    .features-area,
    .some-facts-area,
    .our-sponsors-area,
    .contact-us-area {
        margin-bottom: 50px;
    }

    /* Header Style */
    .header-area .primary-menu,
    .logo,
    .header-heading,
    .sponsors-heading {
        width: 100%;
    }

    header.header-area {
        padding: 0px 20px;
    }

    .header-top {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        text-align: center;
    }

    .primary-menu ul {
        justify-content: space-between;
        margin-top: 8px;
    }

    .primary-menu ul li {
        margin-left: 0;
    }

    .primary-menu ul li a {
        font-size: 15px;
    }

    .logo a {
        font-size: 28px;
    }

    .header-bottom {
        padding: 20px 0px;
        flex-direction: column-reverse;
    }

    .header-heading {
        margin-bottom: 0;
        margin-top: 25px;
    }

    .header-heading h2 {
        font-size: 27px;
        line-height: 35px;
        margin-bottom: 15px;
    }

    /* Feature Styles */
    .quick-list {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
        grid-column-gap: 0;
        grid-row-gap: 25px;
        padding: 0px 20px;
    }

    .quick-list-left {
        grid-gap: 15px;
    }

    .quick-list-left img {
        width: 100%;
        height: 100%;
    }

    /* Love and Enjoy Styles */
    .features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 80px;
        padding: 0px 20px;
    }

    .feature-image-footer {
        padding: 25px 20px;
        bottom: -40px;
        left: -10px;
    }

    .feature-image-footer p {
        font-size: 16px;
        color: #fff;
        line-height: 1;
        margin: 5px 0;
    }

    .feature-image-footer h3 {
        font-size: 28px;
    }

    .features-left {
        order: 2;
        display: grid;
    }

    .features-right {
        display: grid;
        order: 1;
    }

    .single-feature {
        padding: 20px;
    }

    .features-right img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    /* Some Facts Style */
    .some-facts {
        padding: 0px 20px;
    }

    .some-facts-list {
        margin-top: 40px;
        padding-bottom: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }

    .single-fact {
        padding: 30px 10px 30px 10px;
    }

    /* Sponsors Style */
    .our-sponsors {
        padding: 0px 20px;
    }

    .sponsors-heading {
        margin-bottom: 40px;
    }

    .sponsors-logo {
        column-gap: 10px;
    }

    .sponsors-logo img {
        width: 100%;
    }

    /* Contact Us Styles */

    .contact {
        width: 90%;
        margin: 50px auto;
    }

    .contact-heading.section-title h2 {
        font-size: 22px;
    }

    .contact-content-area {
        gap: 0;
        flex-direction: column-reverse;
    }

    .contact-form input,
    .contact-form textarea {
        width: 88%;
    }

    .contact-form input[type="submit"] {
        width: 75%;
    }

    .contact-form {
        flex-basis: 100%;
        margin-top: 38px;
    }

    .contact-address {
        flex-basis: 100%;
    }

    .footer {
        padding: 28px;
    }

    /* Footer Style */
  
    .footer-area {
        margin-bottom: 100px;
        margin-left: 0;
        margin-right: 0;
      }
    .footer-content {
        padding: 15px;
    }

}