/*--------------------
* Fonts from google
*---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/*--------------------------
* Common CSS
*---------------------------*/

:root {
    --primary-color:#FF900E;
    --secondary-color:#131313;
    --heading-color:#131313;
    --text-color:#727272;
}
body {
    font-family: 'Work Sans', sans-serif;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
}
p{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: var(--ext-color);
}
header, main, footer{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
    width:1440px;   
}


.primary-button {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color:#FFFFFF;
    padding:20px 25px;
    background-color: var(--primary-color);
    border-radius: 8px;
    border:0;
    cursor: pointer;
}
.primary-button:hover{
    background-color: var(--secondary-color);  
}

.logo a{
	color: var(--secondary-color);
	font-weight: 700;
	font-size: 45px;
}

